@import "tailwindcss";
 * {
    font-family: "Poppins", sans-serif;
 }

 .mcontainer {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.mcontainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #3f3f46, -20px 0 rgba(63, 63, 70, 0.5);
    background: #3f3f46;
  }
  33% {
    box-shadow: 20px 0 #3f3f46, -20px 0 rgba(63, 63, 70, 0.5);
    background: rgba(63, 63, 70, 0.3);
  }
  66% {
    box-shadow: 20px 0 rgba(63, 63, 70, 0.5), -20px 0 #3f3f46;
    background: rgba(63, 63, 70, 0.3);
  }
  100% {
    box-shadow: 20px 0 rgba(63, 63, 70, 0.5), -20px 0 #3f3f46;
    background: #3f3f46;
  }
}
